* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
body {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(237, 237, 237);
}

/* Nav Bar Styles Starts */
.nav-bar {
    margin-top: 30px;
    height: 80px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}
.nav-bar-title {
    color: rgb(14, 14, 14);
    font-size: 32px;
}
.nav-btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 24px;
    color: rgb(5, 161, 122);
    border: 1px solid rgb(5, 161, 122);
    background-color: #fff;
}
/* Nav Bar Styles Ends Here */

/* Banner Section Styles Starts */
.banner {
    margin-top: 30px;
    height: 500px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
}
.banner-parent {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-between;
}
.banner-textarea {
    margin-left: 45px;
}
.bn-hd-1 {
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 18px;
}
.bn-hd-2 {
    font-size: 56px;
    color: rgb(14, 14, 14);
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 90%;
}
.bn-img {
    width: 400px;
    height: 350px;
    margin-right: 50px;
}
.bn-btn {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    padding: 13px 32px;
    background-color: rgb(0, 106, 80);
    font-size: 16px;
}
/* Banner Section Styles Ends */

/* Future Section Style Starts */
.future-area {
    margin-top: 80px;
}
.ft-hd-1 {
    font-size: 38px;
    color: rgb(14, 14, 14);
    letter-spacing: 0.3px;
    line-height: 40px;
    margin-bottom: 24px;
}
.ft-para {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 25px;
}
.card-container {
    display: flex;
    gap: 30px;
}
.ft-card-1 {
    width: 600px;
    height: 290px;
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
}
.ft-card-2 {
    width: 600px;
    height: 290px;
    padding: 32px;
    border-radius: 16px;
    background-color: rgb(198, 228, 214);
}
.ft-card-3 {
    width: 600px;
    height: 290px;
    padding: 32px;
    border-radius: 16px;
    background-color: rgb(247, 235, 207);
}
.card-icon {
    width: 50px;
    height: 54px;
    margin-bottom: 15px;
}
.card-hd {
    color: rgba(14, 14, 14, 0.8);
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
}
.card-para {
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-bottom: 15px;
    }
.card-btn-1 {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(84, 144, 245);
}
.card-btn-2 {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(9, 161, 92);
}
.card-btn-3 {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(255, 194, 57);
}
/* Future Section Style Ends */

/* Comment Section Style Starts Here */
.comment-area {
    margin-top: 40px;
    width: 100%;
    height: 260px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 14px;
    padding: 36px 21px;
    background-color: rgba(255, 255, 255);
    
}
.cm-img {
    position: absolute;
}
.cm-comment {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    position: relative;
    padding-top: 28px;
}
.cm-name {
    margin-top: 15px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}
.cm-designation {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    margin-top: 10px;
}

/* Comment Section Style Ends Here */

/* Recent News Area Style Starts */
.recent-news-area {
    margin-top: 70px;
}
.news-hd {
    color: rgb(14, 14, 14);
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
}
.news-para{
    color: rgba(14, 14, 14, 0.7);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 30px;
}
/* News Card Style */
.news-card {
    width: 100%;
    height: 330px;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    padding: 36px;
    margin-bottom: 30px;
}
.news-card-1 {
    display: flex;
    gap: 20px;
}
.news-card-2 {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}
.news-cd-img {
    width: 350px;
    height: 260px;
    border-radius: 24px;
}
.news-card-hd {
    color: rgba(14, 14, 14, 0.8);
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 7px;
}
.news-icon {
    width: 100px;
    height: 30px;
}
.date-time {
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 17px;
}
.news-details {
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 18px;
} 
.news-card-btn {
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 11px 23px;
    color: rgb(255, 255, 255);
    background: rgb(0, 106, 80);
}
/* News Card Style */
/* Recent News Area Style Ends */

/* Donate Area Style Starts */
.donate-area {
    margin-top: 65px;
    text-align: center;
}
.donate-hd {
    color: rgb(14, 14, 14);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.donate-para {
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}
.amount-btn {
    display: flex;
    gap: 18px;
    justify-content: center;
}
.dn-btn {
    color: rgba(14, 14, 14, 0.8);
    font-size: 36px;
    font-weight: 700;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin-bottom: 38px;
}
.dn-btn:hover {
    background-color: rgb(198, 228, 214);
    cursor: pointer;
}
.amt-input {
    width: 80%;
    height: 64px;
    padding: 15px 34px;
    display: block;
    margin: 0 auto;
    outline: none;
    border: none;
    text-align: center;
    font-size: 21px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.donate-btn {
    margin-top: 32px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    border: none;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    padding: 15px 30px;
}
/* Donate Area Style Ends */
